@charset 'utf-8';

section { 
    border: 2px solid red;
}
#section0 {
    position: relative;
} 
#section0 .desc {
    font-size: 4rem;
    font-weight: 900;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#section0 .canvas {   
    display: flex;   
}